__pycache__/
*.py[cod]
*$py.class
*.metaflow

*.h5

build/
dist/
*.egg-info/

.tox/

.ipynb_checkpoints/


R/cran_check/
R/.Rproj.user
R/*.Rproj
R/.Rbuildignore
.Rproj.user

.DS_Store
.env
node_modules
main.js.map

.project
.pydevproject

# Pycharm
.idea

stubs/version.py
.metaflow/*
metaflow.*.*/

mnist_ptl/lightning_logs/*
mnist_ptl/checkpoints/*
mnist_ptl/MNIST/*
dump*
mnist_keras/model_checkpoints/*
mnist_keras/checkpoint_downloads/*

mnist_huggingface/logs/*
mnist_huggingface/MNIST/*
mnist_huggingface/results/*
mnist_huggingface/checkpoint_downloads/*

mnist_torch_vanilla/model_checkpoints/*
mnist_torch_vanilla/model_checkpoints_*/*
mnist_torch_vanilla/MNIST/*
mnist_torch_vanilla/checkpoint_downloads/*
